INFURA_ID=2df2ff0ddad24d558bc05862391e4575
ALCHEMY_ID=WsaDr4kdBuJQMT57ph9AaDcw2-eu6Yjr
ETHERSCAN_API_KEY=MFII5PDKRQM82R9KYYXRZIWJXHKSBU18BY
BSCSCAN_API_KEY=NF8W3HIJNZY94XYM9ZYTZNNC4W6DKEJEVT
FANTOMSCAN_API_KEY=JGBIBWSP6WU16T24TMZQIA26KACMIYH4F5
BASESCAN_API_KEY=GUPHBBBJ667QFZTIY1SQBMAVYWKH77BTR8
# ALCHEMY_ID=7qli0UjpkxT5H2wtJVSxdd2xQYb2YHah
POLYGONSCAN_API_KEY=UG18PKW5MAF2QRDU8QIPCG3U1QSXC7C7CM
# AVALANCHE_API_KEY=XD

# withdrawer --network base-mainnet --withdrawal 0xa8f7f7ef057ac40ca239cbba0dfb2d95fd506b90a90ffc0cd56a76aede4cdb89 --rpc 'https://mainnet.infura.io/v3/ea929be1d54a4ec280c037589b894c7f' --private-key 60cea23e61fca6f77cda52662747f3c23b637f6f6c284dce60bf25a7d4e7e688
MNEMONIC="test test test test test test test test test test test junk"


# GAS REPORTER (for tests)
REPORT_GAS=true
COINMARKETCAP_API_KEY=
TOKEN=ETH
GAS_PRICE_API=https://api.etherscan.io/api?module=proxy&action=eth_gasPrice

FORKING_URL=https://eth-mainnet.g.alchemy.com/WsaDr4kdBuJQMT57ph9AaDcw2-eu6Yjr/
FORKING_BLOCKNUMBER=18311034
FORKING_NODE_HOST=0.0.0.0
