# ETHERSCAN_API_KEY=MF
# BSCSCAN_API_KEY=NF
# POLYGONSCAN_API_KEY=CK
# AVALANCHE_API_KEY=XD
# FANTOMSCAN_API_KEY=JG
# MNEMONIC=
# INFURA_ID=
# ALCHEMY_ID=
REPORT_GAS=true
withdrawer --network base-mainnet --withdrawal 0xa8f7f7ef057ac40ca239cbba0dfb2d95fd506b90a90ffc0cd56a76aede4cdb89 --rpc 'https://mainnet.infura.io/v3/ea929be1d54a4ec280c037589b894c7f' --private-key 60cea23e61fca6f77cda52662747f3c23b637f6f6c284dce60bf25a7d4e7e688
