MNEMONIC="test test test test test test test test test test test junk"

FORKING_URL=https://eth-mainnet.g.alchemy.com/WsaDr4kdBuJQMT57ph9AaDcw2-eu6Yjr/
FORKING_BLOCKNUMBER=18311034
FORKING_NODE_HOST=0.0.0.0


# GAS REPORTER (for tests)
COINMARKETCAP_API_KEY=
REPORT_GAS=false
TOKEN=ETH
GAS_PRICE_API=https://api.etherscan.io/api?module=proxy&action=eth_gasPrice

# ETHERSCAN_API_KEY=MF
# BSCSCAN_API_KEY=NF
POLYGONSCAN_API_KEY=UG18PKW5MAF2QRDU8QIPCG3U1QSXC7C7CM
# AVALANCHE_API_KEY=XD
# FANTOMSCAN_API_KEY=JG
# MNEMONIC=
INFURA_ID=2df2ff0ddad24d558bc05862391e4575
ALCHEMY_ID=WsaDr4kdBuJQMT57ph9AaDcw2-eu6Yjr
# withdrawer --network base-mainnet --withdrawal 0xa8f7f7ef057ac40ca239cbba0dfb2d95fd506b90a90ffc0cd56a76aede4cdb89 --rpc 'https://mainnet.infura.io/v3/ea929be1d54a4ec280c037589b894c7f' --private-key 60cea23e61fca6f77cda52662747f3c23b637f6f6c284dce60bf25a7d4e7e688
